<h1>About</h1>

<p>My name is Elliot Kyei. This app is dedicated for completing Assignment 4
    from WEB422 at Seneca College.</p>

<p>Have a look at some of my favourite anime/manga</p>

<div class="content">
    <div fxLayout="row wrap" fxLayout.xs="column">

        <div fxFlex [style.margin]="'5px'">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Berserk</mat-card-title>
                    <mat-card-subtitle>Manga</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="Pics" src="../../assets/Berserk.jpg" alt="album art">
                <mat-chip><strong>Creator: </strong>Kentaro Miura</mat-chip>
            </mat-card>
        </div>

        <div fxFlex [style.margin]="'5px'">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Bleach</mat-card-title>
                    <mat-card-subtitle>Anime</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="Pics" src="../../assets/Bleach.png" alt="album art">
                <mat-chip><strong>Creator: </strong>Tite Kubo</mat-chip>
            </mat-card>
        </div>

        <div fxFlex [style.margin]="'5px'">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Hunter x Hunter</mat-card-title>
                    <mat-card-subtitle>Anime</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="Pics" src="../../assets/hunter.jpg" alt="album art">
                <mat-chip><strong>Creator: </strong>Yoshihiro Togashi</mat-chip>
            </mat-card>
        </div>

    </div>
</div>