<mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error> {{warning }}</mat-error><br />

        <mat-form-field class="full-width-input">
          <input matInput placeholder="User Name" name="username" [(ngModel)]="user.userName" #username="ngModel" required autofocus>
          <mat-error class="errorCard">Please provide a valid user name</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" name="password" password="password" [(ngModel)]="user.password" #password="ngModel" required>
          <mat-error  class="errorCard">Please provide a valid password</mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="accent" type="submit">
          <mat-icon>login</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Login</span>
        </button>
        &nbsp;&nbsp;
        <button routerLink="/register" mat-raised-button color="primary">
          <mat-icon>account_box</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Register</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>